// Headlines

h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
}

h4 {
    font-size: 26px;
    font-weight: 700;
}

h5 {
    font-size: 22px;
    font-weight: 700;
}

h6 {
    font-size: 18px;
    font-weight: 700;
}

// Paragraph
p {
    line-height: 25px;
}

// Links

a {
    text-decoration: none;
    color: black;
}